* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
  background-color: black;
} 

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 




/* ----------------------navbar----------------- */

.nav-bar {
  background-color: rgb(235, 8, 8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0.8em;

}

.nav-list {
  list-style: none;
  display: block;
  padding: 2em;
  display: inline-block;
}

.nav-list-item {
  display: block;
  float: right;
  padding: 0 0 0 2em;
}


.nav-list-item .nav-link, .brand-link{
  color: whitesmoke;
  text-decoration: none;
}


.nav-btn {
  background-color:rgb(235, 8, 8);
  color: whitesmoke;
  border: none
}

.submit-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* ----------------------Profile page----------------- */

.greet-user{
  color: whitesmoke;
}

.avatar {
  height: 70vh;
}


/* ------------------------forms------------------------ */


.login-form-page {
  background-color: black;
  color: white;
  height:100vh;
}


.form-greeting {
  padding: 2em;
}

.form-input {
  margin: 2em;
}



.form-content{
  height: 10vh;
  width: 60%;
}





/* ----------------------studioContainer----------------- */


.studio-wrapper {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.studio {
  list-style: none;
}


.studio .studio-link {
  color: whitesmoke;
  text-decoration: none;
}

.studio-image {
  height: 250px;
}






/* ----------------------studioDetail----------------- */
.studio-image-detail {
  height: 400px;
}


.studio-info {
  background-color: black;
  color: whitesmoke;
  padding: 5em;
}

.review-display {
  background: rgb(7, 0, 0);
  color: whitesmoke;
}

.review-list {
  margin: 2em;

}


.review-list-item {
  margin: 2em auto;
  width: 65%;
  height: 10vh;
  list-style: none;
  border: whitesmoke solid 1px;

}

/* ----------------------footer----------------- */


.page-footer {
  padding: 1em;
  background-color:rgb(235, 8, 8);
}

